@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,devanagari);

 * {
	box-sizing: border-box;	

}
body {
	//background: rgb(250,250,250);
	//font-family:"Noto Sans","Noto Sans Devanagari","utsaah", arial , sans-serif ;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "STHeitiTC-Light","Microsoft JhengHei", sans-serif;
}